.card-info {
  width: 100%;
  background-color: #d8a9fe;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.card-info > .cont-left,
.card-info > .cont-right {
  width: 50%;
  text-align: center;
}

.card-info > .cont-left {
  padding: 20px;
}

.card-info > .cont-left > h3 {
  font-size: 4vw;
  color: white;
}

.card-info > .cont-left > p {
  font-size: 2vw;
}

.card-info > .cont-right > img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .top-cate>h2, .top-info>h2{
    font-size: 30px;
    margin: 15px;
  }

  .card-info {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .card-info > .cont-left,
  .card-info > .cont-right {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .card-info > .cont-left > h3 {
    font-size: 7vw;
  }

  .card-info > .cont-left > p {
    font-size: 5vw;
  }

  .card-info > .cont-right > img {
    display: flex;
    height: auto;
    max-width: 100%;
  }
}


