/* ImageOverlay.css */

.image-container {
    position: relative;
    width: 210px; /* Ajusta el ancho según tus necesidades */
    height: 300px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    transition: transform 0.8s ease; /* Agrega una transición para el efecto hover */
    margin: 10px;
    border-radius: 8px;
}
  
  .image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .image-container.hovered img {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen en hover */
  }
  
  .image-container.hovered .overlay {
    opacity: 1; /* Hace que el overlay sea visible en hover */
  }
  