.details-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.details-category>.vid{
    height: 250px;
    width: 40%;
}
.details-category>.vid>iframe{
    border-radius: 5px;

}
.details-category>.desc{
    height: auto;
    width: 45%;
}

.desc>p{
    text-align: center;
    font-size: 15px;
}


@media (max-width: 768px) {
    .details-category{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .details-category>.vid{
        height: 250px;
        width: 80%;
        margin: 10px 0;
    }
    
    .details-category>.desc{
        height: auto;
        width: 80%;
    }
}