

.cont-hotels{
    background-image: url("https://cf.bstatic.com/xdata/images/hotel/max1024x768/428261237.jpg?k=9996c3d2a0072c3c5f2d193117adf6e389c33f648e07f13956b86bc6f4cd36d1&o=&hp=1");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
}

.cont-hotels>h1{
    font-size: 70px;
}
.cont-hotels>h3{
    font-size: 30px;
    margin: 10px 0;
}


.contenido-hotels{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cont-des-hotels{
    font-size: 20px;
    margin: 10px 0;
    width: 50%;
}

.cont-info-hotels{
    font-size: 20px;
    margin: 10px 0;
    width: 50%;
}



/* The grid: Four equal columns that floats next to each other */
.imagenes-hotels {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .imagenes-hotels img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .imagenes-hotels img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .cont-tabgallery:after {
    content: "";
    display: table;
    clear: both;
    margin: 10px;
  }