.cont-people {
  padding: 20px;
  min-height: calc(100vh - 100px);
}
.users {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;
}
.cont-search {
  border-bottom: 3px solid #6E0086;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 80px;
}

.search-input {
  width: 100%;
  max-width: 500px;
  border: 2px solid #ccc;
  border-radius: 25px;
  height: 45px;
  padding: 0 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border-color: #6E0086;
  box-shadow: 0 0 10px rgba(110, 0, 134, 0.5);
}

@media (max-width: 768px) {

  .search-input {
    max-width: 100%;
    margin-bottom: 15px; 
  }
  
  .cont-search {
    height: auto; 
    margin-bottom: 15px; 
  }

  .users {
    justify-content:center;
    align-items: flex-start;
  }

}
