
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para las secciones */
  .cont-places {
    padding: 20px; 
  }
  
  /* Estilos para los títulos de secciones */
  .cont-detalles > .top-detalles,
  .cont-map > .top-map,
  .cont-hoteles > .top-hoteles {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #9225AA; 
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .mor {
    background-color: #9225AA;
    width: 10px;
    height: 25px; 
    border-radius: 5px; 
    margin-right: 10px; 
  }
  
  h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #9225AA; 
  }
  
  /* Estilos para los detalles */
  .cont-detalles > p {
    text-align: justify;
    font-size: 1rem; 
    line-height: 1.6; 
  }
  
  /* Estilos para la sección de hoteles */
  .bot-cat.hotelsA {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
  }
  