/*Usar esto en las demas hojas de estilo para dejar la Navbar en su lugar*/
.cont-travels {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 86.2vh;
    box-sizing: border-box;
    position: relative;
}

.left-side {
    width: 68%;
    padding: 10px;
    position: relative;
}

.right-side {
    top: 0;
    width: 32%;
    height: 560px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: sticky;
}

.travels-board {
    margin-top: 20px;
    width: 80%;
    min-height: 500px;
    max-height: 500px;
    background-color: #D9D9D9;
    border-radius: 6px;
    border: #9225AA 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.travels-board>h1 {
    margin: 0;
    padding: 10px;
}

.travels-board-content {
    width: 90%;
    min-height: 400px;
    max-height: 400px;
    background-color: #BDBDBD;
    border-radius: 6px;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
}

.travels-board-content::-webkit-scrollbar {
    width: 8px;
}

.travels-board-content::-webkit-scrollbar-thumb {
    background-color: #9225aa;
    border-radius: 6px;
}

.travels-board-content::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.travels-board>button {
    background-color: #0ACF59;
    color: #ffffff;
    font-weight: bolder;
    font-size: 40px;
    border-radius: 100px;
    border-style: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.travels-board>button:active {
    background-color: #079640;
}

@media (max-width: 1250px) {
    .left-side {
        width: 60%;
        padding: 10px;
    }

    .right-side {
        width: 40%;
        padding: 0;
        padding-top: 10px;
        margin-bottom: 0px;
        left: 60%;
    }

    .travels-board {
        margin-top: 20px;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .cont-travels {
        flex-direction: column-reverse;
    }

    .left-side {
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;
    }

    .right-side {
        width: 100%;
        height: auto;
        top: auto;
        left: auto;
        margin-bottom: 0;
        position: static;
        display: flex;
        justify-content: center;
    }

    .travels-board {
        width: 70%;
        min-height: 450px;
        max-height: 450px;
        display: flex;
        justify-content: center;
    }

    .travels-board-content {
        width: 94%;
        min-height: 350px;
        max-height: 350px;
    }
}

@media (max-width: 430px) {
    .travels-board {
        width: 80%;
        min-height: 400px;
        max-height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .travels-board-content {
        width: 90%;
        min-height: 300px;
        max-height: 300px;
    }
}