/*Usar esto en las demas hojas de estilo para dejar la Navbar en su lugar*/
Nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

Footer{
    position: sticky;
}

.cont-travels{
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.left-side{
    width:68%;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: -12px;
}

.right-side{
    width:32%;
    padding: 10px;
    top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    position:fixed;
    left:68%;
}

.travels-board{
    margin-top: 20px;
    width: 80%;
    min-height: 500px;
    max-height: 500px;
    background-color: #D9D9D9;
    border-radius: 6px;
    border: #9225AA 2px solid;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.travels-board>h1{
    margin: 0;
    padding: 10px;
}

.travels-board-content{
    width: 90%;
    min-height: 400px;
    max-height: 400px;
    background-color: #BDBDBD;
    border-radius: 6px;
    display:block;
    overflow:scroll;
    overflow-x: hidden;
}

.travels-board>button{
    background-color: #0ACF59;
    color: #ffffff;
    font-weight:bolder;
    font-size: 40px;
    border-radius: 100px;
    border-style: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    
}

.travels-board>button:active{
    background-color: #079640;
}